.tabs {
    display: flex;
    width: 100%;
    border-radius: 0;
    border-bottom: 2px solid #1d6a54;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #4d535e;
    border: none;
    border-radius: 0;
    border-right: 2px solid #1d6a54;
    box-sizing: border-box;
}

.tab:last-child {
    border-right: none;
}

.tab:hover {
    background-color: #00b478;
}

.active_tab {
    background-color: #015538;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #015538;
}

.content {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}