{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ban Screen</title>
    <link href="{% static 'draft_app/css/pico.jade.css' %}" rel="stylesheet">
    <link href="{% static 'draft_app/css/learn_screen.css' %}" rel="stylesheet">
    <script src={% static 'draft_app/js/htmx2.0.3.js' %}></script>
</head>
<body>
<div class="tabs-container">
    <div class="tabs">
        <button class="active_tab" id="tab1">Ban Suggestions</button>
        <button class="tab" id="tab2">Pick Suggestion</button>
        <button class="tab" id="tab3">OP Champs</button>
        <button class="tab" id="tab4">Item Suggestion</button>
        <button class="tab" id="tab5">Rune Suggestion</button>
        <button class="tab" id="tab6">Compare Scaling</button>
        <button class="tab" id="tab7">Compare Early Game</button>
        <button class="tab" id="tab8">Breakpoints</button>
    </div>
    <div class="container">
        hold
    </div>
</div>
</body>
</html>