{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'draft_app/css/pico.jade.css' %}" rel="stylesheet">
    <link href="{% static 'draft_app/css/start_screen.css' %}" rel="stylesheet">
    <link href="{% static 'draft_app/css/normalize.css' %}" rel="stylesheet">
    <title>Title</title>
</head>

<body class="start_screen">
    <div class="scrolling_container">
        <div class="scrolling_text text-1">
            <h2>Welcome to</h2>
        </div>
        <div class="scrolling_text text-2">
            <h1 style="font-size: 3rem">
                <img style="height: 56px; position: relative; top: -5px" src={% static 'draft_app/img/brain_logo.png' %}>
                Draft Genius
            </h1>
        </div>
        <div class="scrolling_text text-3">
            <h3>
                The Most Powerful League of Legends Drafting Tool
            </h3>
        </div>
    </div>
    <div class="start_flex_container">
    <div class="start_flex_item">
        <p>Click here to start drafting!</p>
        <form action="/draft" method="get">
            <button>Draft Now!</button>
        </form>
    </div>
    <div class="start_flex_item">
        <p>Click here to learn how to use this tool!</p>
        <form action="/learn" method="get">
            <button>Learn How!</button>
        </form>
    </div>
</div>
</body>
</html>